.footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed; /* Fixando o footer */
  bottom: 0; /* Posicionando-o na parte inferior da tela */
  width: 100%; /* Garantindo que ocupe toda a largura */
}

.footer p {
  margin: 0;
}
