<div class="container">
    <mat-card>
        <mat-card-title>Entre em contato:</mat-card-title>
        <mat-card-content>
            <div class="contact-form">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input [(ngModel)]="nome" name="nome"  matInput placeholder="Digite  seu nome" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="email" name="email"  type="email" placeholder="Digite o seu E-mail" matInput required >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mensagem</mat-label>
                    <textarea  [(ngModel)]="mensagem" name="mensagem" matInput placeholder="Escreva uma mensagem"></textarea>
                </mat-form-field>
                <button mat-raised-button (click)="enviarFormulario()" color="primary">Enviar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>